$afb-row-padding: 47px;
$afb-col-padding: 37px;
$afb-col-max-width: 540px;
$afb-content-lg-min-width: 463px;
$afb-content-sm-min-width: 288px;
$afb-font-family: 'Roboto Condensed', sans-serif;
$afb-bg-color-01: #00FFFF;
$afb-bg-color-02: #6455FF;

@media only screen and (min-width: 1024px) {
    .afb-row {
        padding: $afb-row-padding 0px;
        width: 100%;
        overflow: hidden;
    }

    .afb-col-1 {
        width: 50%;
        float: left;
        padding-right: $afb-col-padding;
    }

    .afb-col-2 {
        width: 50%;
        float: right;
        padding-left: $afb-col-padding;
    }

    .afb-content {
        width: $afb-content-lg-min-width;
        margin-left: auto; 
        margin-right: 0;

        h2 {
            font-size: 40px;
            line-height: 47px;
            margin-bottom: 20px;
            max-width: 342px;
        }

        .body-text, .readmore-text {
            font-size: 16px;
            line-height: 19px;
            margin-bottom: 20px;
        }

        .readmore-text {
            display: none;
        }

        .readmore-btn {
            font-family: $afb-font-family;
            color: $afb-bg-color-02;
            cursor: pointer;
            font-weight: 700;
            text-decoration-line: underline;
        }

        .link-btn {
            font-size: 16px;
            font-weight: 600;
            padding: 8.5px 10px;
            max-width: 138px;
        }
    }

    .afb-image {
        width: $afb-content-lg-min-width;
    }

    .img-align-left {
        .afb-col-1 {
            width: 50%;
            float: right;
            padding-left: $afb-col-padding;
        }

        .afb-col-2 {
            width: 50%;
            float: left;
            padding-right: $afb-col-padding;
        }

        .afb-image {
            float: right;
        }

        .afb-content {
            float: left;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .afb-row {
        padding: 38px 16px;
        overflow: hidden;
        width: 100%;
    }

    .afb-col-1, .afb-col-2 {
        width: 100%;
        margin: 0 auto;
        max-width: $afb-col-max-width;
    }

    .afb-content, .afb-image {
        width: 100%;
        min-width: $afb-content-sm-min-width;
    }

    .afb-content {
        h2 {
            font-size: 33px;
            line-height: 39px;
            margin-bottom: 28px;
        }

        .body-text {
            display: none;
        }

        .readmore-text {         
            font-size: 18px;
            line-height: 21px;
            margin-bottom: 28px;
        }

        .link-btn {
            font-weight: 700;
            font-size: 18px;
            padding: 10.5px 10px;
            margin-bottom: 38px;
            max-width: 162px;    
        }
    }
}


// General
.afb-group {
    margin: 0px;
    padding: 0px;
}

.afb-row {
    background-color: #f5f5f5;
}

.afb-content {
    h2 {
        color: #0E0066;
        font-family: $afb-font-family;
        font-style: normal;
        font-weight: 400;
    }

    .body-text, .readmore-text {
        color: #4A4A4A;
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
    }

    .link-btn { 
        background-color: $afb-bg-color-01;
        color: #0B0058;
        font-family: $afb-font-family;
        text-align: center;
        text-decoration: none;
        display: block;
        border-radius: 2px;

        &:hover{
            transform: scale(1.1);
        }
    }
    
}

.img-align-left {
    background: linear-gradient(135deg, $afb-bg-color-01 0%, $afb-bg-color-02 100%);
    
    *{
        color: white !important;
    }
    .link-btn {
        background-color: $afb-bg-color-02;
    }
}

.afb-image {
    img {
        filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.5));
        border-radius: 8px;
        width: 100%;
    }
}